





<h1 style=color:darkred> <%= link_to portfolio_item['title'], portfolio_show_path(portfolio_item['id'])  %> </h1>
<h3> <%=  portfolio_item['subtitle']  %> </h3>
<h5> <%=  portfolio_item['body']  %> </h5>
<p> <mark> <%= image_tag  portfolio_item['thumb_image'] unless portfolio_item['thumb_image'].nil?  %> </mark> </p>
<%= link_to "Edit!!", edit_portfolio_path(portfolio_item['id']) %>
<%= link_to 'Delete Portfolio portfolio_item', portfolio_path(portfolio_item['id']), method: :delete, data: { confirm: 'Are you sure?' }
 %>



<!--
<% 
 portfolio_item_i, len, id = portfolio_item['title'], portfolio_item['title']['length'], portfolio_item['id']
 img = portfolio_item['thumb_image']
%>
-->